appdirs==1.4.3
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
get==1.0.2
idna==2.6
lxml==3.7.3
packaging==16.8
post==1.0.1
public==1.0.2
pyparsing==2.2.0
pytz==2017.2
query-string==1.0.1
requests==2.18.4
six==1.10.0
tzlocal==1.4
urllib3==1.22
